flask
flask_login
requests
python-dotenv
Flask-Mail>=0.9.1
Flask-WTF>=1.2.1
itsdangerous>=2.1.2
email_validator>=2.1.0
flask_limiter
flask_talisman
passlib[argon2] 
pyotp 
qrcode 
pillow
feedparser
argparse
scikit-learn>=1.3.0
pandas>=2.0.3
numpy>=1.24.4
vaderSentiment
joblib>=1.3.1
requests-oauthlib>=1.3.1
vaderSentiment
prophet
ultralytics
textblob
feedparser
snscrape
feedparser
WTForms
pytrends
google-cloud-language
wordcloud
tweepy
snownlp
jieba
prophet
line-bot-sdk>=2.5.0
google-generativeai
yfinance>=0.2.38
Flask-SQLAlchemy>=3.1.0
openai
cryptography
plotly