flask
flask_sqlalchemy
flask_login
yfinance
requests
python-dotenv
google-generativeai
Flask-Mail>=0.9.1
Flask-WTF>=1.2.1
itsdangerous>=2.1.2
email_validator>=2.1.0
flask_limiter.util
flask_limiter
flask_talisman